button {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  // width: 10.75rem;
  max-width: 18.88rem;
  height: 2.5rem;
  padding: 0.625rem 1.5rem;
  border-radius: 6.25rem;
  border: none;
  background: linear-gradient(110deg, #9aeca4 0%, #13678b 100%);
  color: var(--tertiary-color-text);
  font-family: var(--font-base);
  font-size: 0.81rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.016rem;
  align-self: stretch;
  cursor: pointer;
  /*
  &:hover {
    background-color: var(--secondary-color);
    color: var(--gray-color);
    background: linear-gradient(110deg, #9aeca4 0%, #13678b 100%);
  }
  
  img {
    margin-right: 5px;
    //padding: 1.5rem;
    width: 18%;
    //object-fit:contain;
  }*/
}
