.footer {
  height: 652px;
  align-self: stretch;
  background-color: var(--secondary-color-bg);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footerContainerTop {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
  margin-top: 67px;
  margin-bottom: 21px;
}
.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.astronautBox {
  display: flex;
  width: 60px;
  height: 60px;
  padding: 10px 7.5px 9.241px 7.5px;
  justify-content: center;
  align-items: center;
}

.kadetText {
  width: 160px;
  align-self: stretch;
}
.kadenaContainer {
  display: flex;
  height: 38px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 112px;
}

.faviconHolder {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kadenaText {
  display: flex;
  //width: 221px;
  flex-direction: column;
  justify-content: center;

  align-self: stretch;
}
.kadenaText p {
  color: var(--primary-color-header);
  text-align: center;
  font-family: var(--font-base);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 33.6px */
  letter-spacing: 0.28px;
}

///////
.footerContainerBottom {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  margin-bottom: 63px;
}
.footerContent {
  display: flex;
  width: 1120px;
  height: 358px;
  max-width: 1120px;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
}
.footerLinks {
  display: flex;
  width: 597px;
  align-items: flex-start;
  align-content: flex-start;
  gap: 128px 68px;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.footerLinksLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.footerLinksRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.footerHeader {
  display: flex;
  padding: 0px 8px;
  align-items: flex-start;
  gap: 10px;
}
.footerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footerTextBox {
  display: flex;
  padding: 10px 8px;
  align-items: flex-start;
  gap: 10px;
}
.footerContainerBottom .footerHeader h1 {
  color: var(--primary-color-header);
  text-align: center;
  font-family: var(--font-base);
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 22.8px */
  letter-spacing: 0.19px;
}
.footerContainerBottom .footerTextBox h2 {
  color: var(--secondary-color-header);
  text-align: center;
  font-family: var(--font-base);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 15.6px */
  letter-spacing: 0.26px;
}
/////
.connectFrame {
  display: flex;
  height: 266px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.connectContentFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}
.connectHeaderFrame {
  display: flex;
  padding: 10px 8px;
  align-items: flex-start;
  gap: 10px;
}

.footerContainerBottom .connectHeaderFrame h1 {
  color: var(--primary-color-header);
  text-align: center;
  font-family: var(--font-base);
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 22.8px */
  letter-spacing: 0.19px;
}
.connectIconFrame {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.copyrightContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.copyrightFrame {
  display: flex;
  align-items: center;
  gap: 4px;
}

.copyright,
.techFleet {
  width: 16px;
  height: 16px;
}
.copyrightFrame p {
  color: var(--quaternary-color-text);
  font-family: var(--font-base);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.32px;
}
