.footer {
  height: 40.75rem;
  align-self: stretch;
  background-color: var(--secondary-color-bg);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.footerContainerTop {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 70rem;
  margin-top: 4.188rem;
  margin-bottom: 1.313rem;
}
.logoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.astronautBox {
  display: flex;
  width: 3.75rem; /* Converted from 60px to 3.75rem */
  height: 3.75rem; /* Converted from 60px to 3.75rem */
  padding: 0.625rem 0.469rem 0.578rem 0.469rem;
  justify-content: center;
  align-items: center;
}

.kadetText {
  width: 10rem;
  align-self: stretch;
}
.kadenaContainer {
  display: flex;
  height: 2.38rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 7rem;
}

.faviconHolder {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kadenaText {
  display: flex;
  //width: 221px;
  flex-direction: column;
  justify-content: center;

  align-self: stretch;
}
.kadenaText p {
  color: var(--primary-color-header);
  text-align: center;
  font-family: var(--font-base);
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 33.6px */
  letter-spacing: 0.018rem;
}

///////
.footerContainerBottom {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  margin-bottom: 3.94rem;
}
.footerContent {
  display: flex;
  width: 70rem;
  height: 22.375rem;
  max-width: 70rem;
  padding: 0rem;
  justify-content: space-between;
  align-items: center;
}
.footerLinks {
  display: flex;
  width: 37.31rem;
  align-items: flex-start;
  align-content: flex-start;
  gap: 8rem 4.25rem;
  flex-shrink: 0;
  flex-wrap: wrap;
}
.footerLinksLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.footerLinksRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footerHeader {
  display: flex;
  padding: 0rem 0.5rem;
  align-items: flex-start;
  gap: 0.625rem;
}
.footerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footerTextBox {
  display: flex;
  padding: 0.625rem 0.5rem;
  align-items: flex-start;
  gap: 0.625rem;
}
.footerContainerBottom .footerHeader h1 {
  color: var(--primary-color-header);
  text-align: center;
  font-family: var(--font-base);
  font-size: 1.187rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 22.8px */
  letter-spacing: 0.012rem;
}
.footerContainerBottom .footerTextBox h2 {
  color: var(--secondary-color-header);
  text-align: center;
  font-family: var(--font-base);
  font-size: 0.81rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 15.6px */
  letter-spacing: 0.016rem;
}
/////
.connectFrame {
  display: flex;
  height: 16.625rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.connectContentFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}
.connectHeaderFrame {
  display: flex;
  padding: 0.625rem 0.5rem;
  align-items: flex-start;
  gap: 0.625rem;
}

.footerContainerBottom .connectHeaderFrame h1 {
  color: var(--primary-color-header);
  text-align: center;
  font-family: var(--font-base);
  font-size: 1.187rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 22.8px */
  letter-spacing: 0.02rem;
}
.connectIconFrame {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.copyrightContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.copyrightFrame {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.copyright,
.techFleet {
  width: 1rem;
  height: 1rem;
}
.copyrightFrame p {
  color: var(--quaternary-color-text);
  font-family: var(--font-base);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.02rem;
}
