.app {
  background: var(--stars-bg), lightgray;
  background-size: 3.125rem 3.125rem, auto;
  background-position: center, 0 0;
  background-repeat: repeat, repeat;
  font-family: var(--font-base);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.appContainer {
  display: flex;
  max-width: 70rem;
  padding: 9rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 9rem;
}

@media screen and (max-width: 768px) {
  .app {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .appContainer {
    display: flex;
    max-width: 35rem;
    padding: 4.5rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 4.5rem;
  }
}
