/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

:root {
  --font-base: "Work Sans", sans-serif;
  --tertiary-color-text: #002c33; /*nav button*/
  --tertiary-color-bg: rgba(41, 102, 112, 0.16);
  --primary-color-text: #fff;
  --primary-color: #1e1e39;
  --secondary-color: #98cc7b;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #262729;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
