/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

:root {
  --font-base: "Work Sans", sans-serif;

  --primary-color-text: #fff; /*nav text*/
  --secondary-color-text: #c1c9be;
  --tertiary-color-text: #002c33; /*nav btn*/
  --primary-color-header: #e3e8e7;

  --stars-bg: url("../src/assets/stars_bg.png"); /*app bg*/
  --planet-bg: url("../src/assets/planet_footer.png"); /*component4 bg */
  --primary-color-bg: var(
    --Gradient,
    linear-gradient(110deg, #9aeca4 0%, #13678b 100%)
  );
  --tertiary-color-bg: rgba(41, 102, 112, 0.16); /*nav bg*/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
