/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

:root {
  --font-base: "Work Sans", sans-serif;

  --primary-color-text: #fff; /*nav text*/
  --secondary-color-text: #c1c9be;
  --tertiary-color-text: #002c33; /*nav btn*/
  --primary-color-header: #e3e8e7;

  --stars-bg: url("../src/assets/stars_bg.png"); /*app bg*/
  --tertiary-color-bg: rgba(41, 102, 112, 0.16); /*nav bg*/

  --primary-color: #1e1e39;
  --secondary-color: #98cc7b;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #262729;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
